spring:
  jpa:
    generate-ddl: false  # Flyway manages schema creation
    hibernate:
      ddl-auto: validate  # Never modify production schema automatically
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: portfolio-backend
  datasource:
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: true
    clean-disabled: true

server:
  port: 8080

logging:
  level:
    org.springframework.web: WARN
    org.hibernate: ERROR

# Production specific configs
management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    db:
      enabled: true
    diskspace:
      enabled: true