.modal-header {
  border-bottom: 1px solid #dee2e6;

  .modal-title {
    font-weight: 600;
  }
}

.modal-body {
  p {
    margin-bottom: 0;
    color: #6c757d;
  }
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}
